.CouponDetails {
	display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  /* font-weight: bold; */
  font-family: Garamond,Serif,  "Courier New" ;
    text-align: left;
}
.CouponDetails .img{
width: 100%;
margin: auto;
cursor: pointer;
transform: translate(-50% ,-50%);
-ms-transform:  translate(-50% ,-50%);
}

.CouponDetails {
  text-align: center;
}
.CouponDetails a{
  color: rgb(175, 23, 23);
  color: white;

  /* background-color: aliceblue; */
  
}
.CouponDetails button{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(2, 2, 2);
font-size: 15px;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin: 5px;
  color: white;
    background-color: brown;
}
.CouponDetails img{
border: 1.5px solid rgb(0, 0, 0);
width: 200px;
  height: 130px;
}