.CompanyCard {
    width: 250px;
    height: 120px;
    display: inline-flex;
    text-align: left;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
    font-family: Garamond, Serif, "Courier New";
    font-size: larger;
}

.CompanyCard>div:last-child {
    margin-left: auto;
}