.AddCoupon {
    font-family: Garamond,Serif,  "Courier New" ;
}
    .AddCoupon form{
border: 2px solid black;
}
.AddCoupon button{
font-family: Garamond,Serif,  "Courier New" ;
border-radius: 5px;
background-color: rgb(189, 163, 18);
color: white;
margin-top: 20px;
margin-bottom: 20px;

}

.AddCoupon span{
    color: red;
}


