.UpdateCoupon button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-top: 4px;
    font-size: 15px;
    color: black;
    background-color: rgb(168, 140, 14);
    margin-top: 10px;
    box-sizing: border-box;
}

.UpdateCoupon span {
    color: red;
}

.UpdateCoupon form {
    border: 2px solid rgb(0, 0, 0);
}

.UpdateCoupon input {
    width: 270px;
}