/* .Login input, .Login select,.Login button{
	margin-top: 20px;
padding: 10px;

} */
 /* .Login button{
	margin-top: 20px;
padding: 10px;

} */
.Login #button{
    background-color: rgb(197, 153, 31);
    color: white;
    /* padding-top: 20px; */
    margin-top: 20px;
    padding: 10px;
}
.Login #button:hover{
    
 background-color: rgb(107, 97, 7);
}
.Login form{
    border: 2px solid black;
    width: 370px;
    /* background-image: linear-gradient(45deg, rgb(24, 22, 9), rgb(243, 209, 97)); */
}
.Login .eye{
font-size: 40px;
color: rgb(0, 4, 7);
}
.Login #password ,.Login #email{
padding-top: 20px;
    width: 100%;

}





