   .CompanyList .list-top-company {
     position: absolute;
     bottom: 0;
     margin-bottom: 40px !important;
     float: right !important;
     margin-right: 10px !important;

   }

   .CompanyList form {
     left: auto;
     margin-left: 20px;
     height: 21px;
     width: 260px;
     margin-top: 5px;
     font-size: 23px;
     box-shadow: 5px 5px 10px;
   }

   .CompanyList input {
     font-size: 15px;
     width: 230px;
     margin: 0;
     float: right;
   }