.AuthMenu {
	position: absolute;
    right: 20px;
    top: 10px;
}

.AuthMenu a{
    color: rgb(255, 255, 255);
}
.AuthMenu a:hover{
    border: 1px solid rgb(109, 107, 107) ;padding:5px;
}

.AuthMenu span{
    color: rgb(238, 49, 49);
}
