.UpdateCustomer button{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    padding-top: 4px;
	font-size: 15px;
    color: white;
    background-color: brown;
margin-top: 10px;

}

.UpdateCustomer span{
    position: absolute;
    margin-left:20px ;
    color: red;
    }
